@import "./flip_3d_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background: rgb(37, 37, 37);
}
.confetti-wrapper{
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 600px;
  background: transparent;
  pointer-events: none;
}
.success-container{
  position: absolute;
  border-radius: 30px;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 250px;
  transform: scale(0);
  z-index: 50;
  background-color: rgb(236, 236, 236);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: transform 300ms ease;
  h1, h4, button{
    font-family: $font-primary;
  }
  h1{
  font-size: 2.5em;
  }
  button{
    border-radius: 15px;
    border: none;
    background: #333;
    padding: 15px 20px;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
  }
}
.title {
  position: absolute;
  top: 10%;
  left: 17%;
  h1 {
    font-size: 4em;
    font-family: $font-primary;
    color: white;
  }
}
.visa-logo, .master-card-logo, .rupay-logo{
  display: none;
}
.card {
  position: relative;
  z-index: 10;
  top: 10vh;
  left: 230px;
  perspective: 900px;
  .card-main-content {
    position: relative;
    width: 400px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    & > * {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      backface-visibility: hidden;
    }
    .card-front {
      border-radius: 20px;
      color: $txt-color-light;
      height: 250px;
      background: linear-gradient(45deg, #0045c7, #f31469);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card-chip-img {
        width: 100px;
        position: absolute;
        top: 5%;
        left: 2%;
      }
      .card-design-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.25);
        opacity: 0.35;
      }
      .visa-logo,
      .master-card-logo, .rupay-logo{
        width: 100px;
        position: absolute;
        top: 5%;
        right: 5%;
        border-radius: 7px;
      }
      .card-num {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.9rem;
        font-family: $font-primary;
        width: 100%;
        // background: black;
        span {
          margin: 0px 10px;
        }
      }
      .card-holder-name {
        font-family: $font-primary;
        text-transform: uppercase;
        position: absolute;
        bottom: 10%;
        left: 5%;
        h4 {
          margin-bottom: 5px;
          font-size: 0.8em;
          font-weight: lighter;
        }
        h3 {
          font-weight: lighter;
        }
      }
      .card-expires {
        font-family: $font-primary;
        text-transform: uppercase;
        position: absolute;
        bottom: 10%;
        right: 7%;
        h4 {
          margin-bottom: 5px;
          font-size: 0.8em;
          font-weight: lighter;
        }
        h3 {
          font-weight: lighter;
        }
      }
    }
    .card-back {
      border-radius: 20px;
      color: $txt-color-light;
      height: 250px;
      background: linear-gradient(45deg, #0045c7, #f31469);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      // display: none;
      .card-design-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.25);
        opacity: 0.35;
      }
      .barcode {
        position: absolute;
        top: 10%;
        width: 100%;
        height: 55px;
        background: black;
      }
      .card-cvv-wrapper {
        position: absolute;
        z-index: 5;
        top: 35%;
        left: 10%;
        width: 65%;
        height: 40px;
        background: rgb(201, 201, 201);
      }
      .card-cvv {
        position: absolute;
        top: 36%;
        width: 80%;
        height: 35px;
        background: white;
        color: black;
        font-size: 25px;
        font-family: $font-primary;
        h5 {
          text-align: right;
          padding: 5px 10px 0px 0px;
        }
      }
      .card-back-text p {
        position: absolute;
        top: 57%;
        left: 10%;
        width: 80%;
        font-family: $font-primary;
        font-weight: lighter;
        font-size: 0.9em;
      }
      .visa-logo,
      .master-card-logo, .rupay-logo{
        width: 100px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        border-radius: 7px;
      }
    }
  }
  &:hover .card-main-content {
    transform: rotateY(180deg);
  }
  &.flip .card-main-content {
    transform: rotateY(180deg);
  }
}

.payment-form {
  background: rgb(58, 58, 58);
  width: 600px;
  border-radius: 40px;
  z-index: 0;
  height: 300px;
  position: absolute;
  bottom: 10%;
  left: 15%;
  padding: 30px 50px;

  form {
    // background:red;
    pointer-events: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
    & > * {
      width: 100%;
      background: #333;
      margin: 8px 0px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 10px;
      border: 2px solid white;
      input {
        width: 70%;
        background: transparent;
        outline: none;
        border: none;
        height: 50px;
        font-family: $font-primary;
        font-size: 1.1em;
        color: white;
        // padding: 0px 5px;
        // border-radius: 10px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      svg {
        margin: 0px 15px;
        fill: white;
        transform: scale(1.3);
      }
    }
    .input-wrapper {
      background: rgb(58, 58, 58);
      display: flex;
      justify-content: space-between;
      border: none;

      & > * {
        display: flex;
        align-items: center;
        border-radius: 10px;
        width: 48%;
        background: #333;
        border: 2px solid white;
      }
      .card-cvv-field svg {
        position: relative;
        left: 15%;
      }
      .card-cvv-field input {
        position: relative;
        left: 12%;
      }
    }
    .payment-btn {
      position: absolute;
      z-index: 10;
      top: 82%;
      right: -28%;
      width: 200px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: rgb(214, 214, 214);
      border-radius: 20px;
      input {
        font-size: 25px;
        color: #333;
        cursor: pointer;
      }
      &:hover {
        box-shadow: 0px 0px 15px grey;
      }
    }
  }
}
