*
{
 margin:0;
 padding:0;
 box-sizing: border-box;
 }
 /* Home Image*/
 #home{
	background-image: url('ksenia-varapaeva-lBElFnvck-M-unsplash.jpg');
    min-height:100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
 }
 /* About Image*/
 #aboutimg{
	background-image: url('matheus-ferrero-W7b3eDUb_2I-unsplash.jpg');
    min-height:520px;
	background-position: left-center;
	background-size: 40% 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
 }
 /*Card */
 .card{
	  transition: all 0.5s ease;
 }
 .card:hover{
     cursor:pointer;
transform:scale(1.1);
 }
	 
 /*Portfolio */	 
#img1{
background-image: url('persnickety-prints-3KHTEARI27Q-unsplash.jpg');
min-height:500px;
	background-position: left-center;
	background-size: 40% 70%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}	
#img2{
background-image: url('sonnie-hiles-gG70fyu3qsg-unsplash.jpg');
min-height:500px;
	background-position: right center;
	background-size: 70% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#img3{
background-image: url('taisiia-shestopal-_4LbmtaToEc-unsplash.jpg');
min-height:500px;
	background-position: left-center;
	background-size: 40% 70%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#img4{
background-image: url('windows-JqmOD1jpHHw-unsplash1.jpg');
min-height:500px;
	background-position: right center;
	background-size: 70% 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#img5{
background-image: url('mathilde-langevin-sTamx4-y6FE-unsplash.jpg');
min-height:500px;
	background-position: left-center;
	background-size: 40% 70%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#img6{
background-image: url('grzegorz-rakowski-3HPzBvG6nK4-unsplash.jpg');
min-height:500px;
	background-position: right center;
	background-size: 70% 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
/* Media Queires*/
@media screen and (max-width:760px){
	#aboutimg{
		background-size: cover;
	}
	#img1, #img2, #img3, #img4, #img4, #img5, #img6 {
	margin-bottom:3rem;
	background-size: cover;
	}
	#contact img{
		width:100% !important;
	}
}