@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Montserrat';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    margin: 50px 0;
}