.showCommand {
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  width: 46px;
  height: 46px;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 5%; 
  width: 100%;
  text-align: center;
  margin-top: 30px; 
}

.overlay-content h5{
    color: white;
    z-index: 2;
    font-size: 15px;
}

.overlay li {
  padding: 8px;
  text-decoration: none;
  font-size: 13px;
  color: rgba(255,255,255,0.7);
  list-style: square;
  display: block;
  transition: 0.3s;
}

.overlay li code{
    color: #818181;
}

.overlay li:hover, .overlay li:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: white;
  }
  
  @media screen and (min-width: 400px) {
    .overlay li {font-size: 16px}
  }

  @media screen and (min-width: 550px) {
    .overlay li {font-size: 18px}
  }

  @media screen and (min-width: 650px) {
    .overlay li {padding:12px}
    .overlay-content h5{font-size: 18px;}
  }

  @media screen and (min-width: 900px) {
    .overlay li {padding:15px}
    .overlay-content h5{font-size: 20px;}
  }