.time-loader {
  margin: 15px 0 0 0;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #181d32;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

.image-loader{
  margin: 15px 0 0 130px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #181d32;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
