:root {
  --purple: #643a71;
  --pink: #e3879e;
}

* {
  font-family: spectral, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin-bottom:5px ;
}

.section {
  background-color: var(--purple);
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  border-radius: 1.7rem 0;
  margin: auto;
  text-align: center;
  border: 4px solid black;
}

/* Section h1,p */
h1,
p {
  color: var(--pink);
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Labels */
.label {
  font-size: 1.6rem;
  color: wheat;
  font-weight: bold;
  padding: 1.5rem 1rem 0.5rem;
}

input {
  width: 100%;
  padding: 1rem;
  text-align:center;
  font-weight: bolder;
  color:purple;
  font-size:28px;
  height: 50px;
  display: block;
  border: 3px solid palevioletred;
  border-radius: 7px;
}



button {
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1rem;
  margin: 1rem auto 0;
  font-weight:bold;
  border-radius: 50px;
}

.cashGivenInput {
  display: none;
}

.changeReturn {
  display: none;
}

.errorMessage {
  padding: 1rem;
  color: yellow;
  font-size: 1.7rem;
  
}

#output {
  margin: 1rem 0;
}

#output table,
th,
td {
  padding: 0.2rem;
  color: var(--purple);
  background-color: var(--pink);
  border: 2px solid var(--purple);
  border-collapse: collapse;
}

.noOfNotes {
  background-color: whitesmoke;
  color: var(--pink);
  font-weight: bold;
  font-size: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  
}

th,
td {
  word-wrap: break-word;
}
