#about {
  background-color: rgb(59, 32, 178);
  background-image: linear-gradient(135deg, rgb(50, 27, 155), rgb(67, 36, 206));
  color: #fff;
  height: 100%;
  border-top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 20%;
}
section {
  padding: 5rem 0;
}
