*{
    padding: 0;
    margin: 0;
}

ul {
  margin: 60px 0 0 0;
}

.time-container {
  display: flex;
  margin: auto;
  width: 280px;
  height: 80px;
  background-color: #333551;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
