#time{
    padding-top: 10px;
  }
  
  #crntTime{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    font-size: 24px;
  }
  
  #crntDate{
    font-family: 'Ubuntu',sans-serif;
    padding: 2px 0 0 0;
    text-align: center;
    font-size: 17px;;
  }