@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        /* max-width: 75%;
    width: 75%;
    margin: auto; */
    }
    
    #heading {
        margin: auto;
        font-weight: 500;
        text-align: center;
        background-color: #1793f8;
        padding: 2rem 3rem;
        margin-bottom: 1rem;
        box-shadow: 5px 10px 8px rgb(30, 38, 41);
        border-bottom-left-radius: 15rem;
        border-bottom-right-radius: 15rem;
        color: rgb(255, 255, 255);
    }
    
    #heading p {
        text-align: start;
        font-size: 1.5rem;
        margin-top: 0;
        padding: 0 0;
    }
    
    #heading h1 {
        font-size: 2rem;
        
    }
    
    h1 img {
        position: absolute ;
        top: 48px;
       
    }
    
    .btn {
        border-radius: 10px;
        background: #181313;
        box-shadow: 28px 28px 56px #7ec0fd, -28px -28px 56px #69bbff;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #7cd8fc;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 5px 10px 8px rgb(66, 39, 39);
        border: none;
        font-size: 1rem;
        color: rgb(254, 254, 255);
    }
    
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .duck-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        max-width: 400px;
    }
    
    div,
    textarea {
        margin: 2rem;
        width: 30%;
        height: 300px;
        padding: 1rem 2rem;
        box-sizing: border-box;
        border-radius: 1rem;
        border: 1rem;
        font-size: 1.4rem;
        background-color: rgb(173, 224, 240);
        box-shadow: 5px 10px 8px rgb(51, 45, 45);
    }
    
    p {
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0 1rem;
        text-align: center;
    }
    
     ::placeholder {
        color: #081022;
        font-size: 1.4rem;
    }
    
    footer {
        background-color: #1793f8;
        padding: 2rem 0rem;
        margin-top: 3rem;
        border-top-right-radius: 10rem;
        border-top-left-radius: 10rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        box-shadow: 0px 10px 5px rgb(85, 184, 241), 0px -10px 5px #ccc;
        color: rgb(250, 250, 250);
    }
    
    footer i {
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin: 1rem;
    }
    
    footer p {
        color: #ffffff;
        font-size: inherit;
        margin: 0;
    }
    
    .links {
        text-decoration: none;
        color: var(--button-text-color);
    }
    
    .links li {
        list-style-type: none;
    }
    
    .footer-list {
        display: flex;
        margin: auto;
        width: 15%;
        list-style-type: none;
        align-items: center;
    }
    
    @media screen and (max-width: 700px) {
        .footer-list {
            width: 100%;
            padding-left: 1rem;
        }
    }