.logo-container{
  position: absolute;
}
.solid-logo{
  position: absolute;
  top: 520px;
  bottom: 0;
  left: 10px;
  height: 320px;
  width: 320px;
}

@media screen and (min-width: 500px) {
  .solid-logo{
    width: 420px;
    height: auto;
    top: 480px;
  }
}
@media screen and (min-width: 640px) {
  .solid-logo{
    top: 450px;
  }
}

@media screen and (min-width: 768px) {
  .logo-container{
    width: 280px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 10px;
    margin: auto;
  }
  .solid-logo{
    height: 280px;
    width: 280px;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1080px) {
  .logo-container{
    width: 480px;
    height: 480px;
    top: 100px;
    right: -60px;
  }
  .solid-logo{
    height: 100%;
    width: 100%;
    top: 0px;
    left: -5px;
  }
}

@media screen and (min-width: 1536px) {
  .logo-container{
    width: 680px;
    height: 680px;
    top: 10px;
    right: 0px;
  }
  .solid-logo{
    height: 680px;
    width: 680px;
    top: 0px;
  }
}
