.home-page {
  .text-zone-home {
    position: absolute;
    left: 10%;
    top: 300px;
    transform: translateY(-50%);
    width: 85%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      span {
        font-size: 60px;
        z-index: 1;
      }

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
      }

      &:after {
        content: '</h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }

      img {
        opacity: 0;
        width: 45px;
        margin-right: 7px;
        margin-left: 25px;
        margin-bottom: -3px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }

    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      margin-left: 25px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;

      &:before {
        content: '<p>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -4px;
        left: -15px;
        opacity: 0.6;
      }

      &:after {
        content: '</p>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -4px;
        margin-left: 10px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }

    }

    .container-home {
      width: 100%;
      will-change: contents;
      height: 90%;
      min-height: 566px;
      position: absolute;
      opacity: 0;
      top: 5%;
      margin: 0 auto;
      transform-style: preserve-3d;
      animation: fadeIn 1s forwards;
      animation-delay: 1s;
    }

    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-page {
    .text-zone-home {
      left: 180px;
    }

    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .home-page {
    .text-zone-home {
      top: 390px;
      left: 200px;
      h1 {
        span {
          font-size: 85px;
          margin: 10px 0;
        }

        img {
          width: 80px;
          margin-right: 7px;
          margin-left: 25px;
          margin-bottom: -3px;
          margin-top: -19px;
        }
      }
    }
  }
}